.icon-bar {
  width: 100%; /* Full-width */
  background-color: #555; /* Dark-grey background */
  overflow: auto; /* Overflow due to float */
}
.icon-bar a {
  float: left;
  text-align: center;
  width: 15%;
  padding: 10px 0;
  transition: all 0.3s ease;
  color: white;
  font-size: 25px;
}

.icon-bar a:hover {
  background-color: #000; /* Add a hover color */
}
.column_left {
  float: left;
  width: 15%;
  background-color: #ccffff;
}
.column_middle {
  float: left;
  width: 60%;
}
.column_right {
  float: left;
  width: 25%;
  background-color: #ccffff;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
