<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Share your thoughts</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='home.css') }}"
    />
  </head>
  <body>
    <div class="icon-bar">
      <a href="#">Home</a>
      <a href="#">about</a>
    </div>
    <div class="row">
      <div class="column_left" id="column_1">hello</div>
      <div class="column_middle" id="column_1">how</div>
      <div class="column_right" id="column_1">are u?</div>
    </div>

    <script src="{{url_for('static', filename='home.js')}}"></script>
  </body>
</html>
